article {
    margin-top: 20vh;
    ul li {
        &:not(:last-child){
            margin-bottom: 1rem;
        }
    }
    .back {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        margin-bottom: 2rem;
    }
    h1 {
        font-size: 2.25rem;
        margin-bottom: 2.25rem;
    }
    .year,.stack,.description,.role,.interventions {
        margin-bottom: 1.75rem;
    }
    .titre-content {
        margin-bottom: .75rem;
        font-family: var(--font-title);
        font-size: 1rem;
        font-weight: normal;
    }
}
.imgs {
        display: grid;
        grid-template-areas: ". ." "full full";
        gap: 1.75rem;
        margin-top: 4rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .full {
            grid-area: full;
        }
}