@use 'sass:math'; // Importer le module math


body {
  margin: 0;
  padding: 0;
  background-color: #212121; 
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.particles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
  }
  

p,div, a {
    font-family: var(--font-text);
    color: #c5c4c4;
    margin: 0;
}
h1,h2,h3,h4,h5 {
  font-family: var(--font-title);
  margin: 0;
}
button {
    font-family: var(--font-title);
    text-transform: uppercase;
    font-size: 1.2rem;
}

.title {
    color: #b5b5b5;
    font-family: var(--font-title);
    text-transform: uppercase;
    font-size: 5rem;
}



