---
const year = new Date().getFullYear();
---

<footer>
  <p>On fait équipe?</p>
  <a href="mailto:roulland.thomass@gmail.com">roulland.thomass@gmail.com</a>
  <p class="copy">&copy; {year} - Thomas Roulland. Tous droits réservés.</p>
</footer>
