---

---

<header>
  <input type="checkbox" name="openMenu" id="openMenu">
  <label for="openMenu" class="burger"> 
    <span class="lines"></span>
    <span class="lines"></span>
  </label>
  <div class="overlay" id="menuOverlay"></div>
    <nav id="menuNav">
      <div class="wrapper">
         <div class="navigation">
          <div class="left">
            <p>SOCIAL</p>
            <div class="items">
              <a href="https://github.com/troullandWesign">Github</a>
              <a href="https://fr.linkedin.com/in/thomas-roulland">linkedin</a>
            </div>
          </div>
          <div class="right">
              <p>MENU</p>
              <div class="items">
                <a href="#">Accueil</a>
                <a href="#about">À propos</a> 
                <a href="#experiences">Experiences</a>
                <a href="#projets">Projets</a>
              </div>
          </div>
        </div>
        <div class="contact">
          <p>ME CONTACTER</p>
          <a href="mailto:roulland.thomass@gmail.com">roulland.thomass@gmail.com</a>
        </div>
      </div>
    </nav>
</header>
  
  