---
import Layout from '../../layouts/BaseLayout.astro';
---

<Layout>
    <section class="base">
        <div class="container">
            <article>
                <h1>✨ Byron Parfums</h1>

                <div class="year">
                    <p class="titre-content">Année :</p>
                    <p>2024</p> 
                </div>
                

                <div class="stack">
                    <p class="titre-content">Tech & Stack</p>
                    <p>WordPress, WooCommerce, PHP, Twig, SCSS, JavaScript, ACF, CPT, Timber, GSAP</p>
                </div>
                

                <div class="description">
                     <h3 class="titre-content">Description</h3>
                     <p>Creation du site e-commerce <strong>Byron Parfums</strong>, une marque de parfumerie haut de gamme. Le projet avait pour objectif de proposer un site web creatif, fluidifier l’expérience d’achat, et refléter l’univers luxe de la marque tout en assurant performance et stabilité.</p>
                </div>
               

                <div class="interventions">
                    <h3 class="titre-content">Mes interventions</h3>
                    <ul>
                        <li>🛍️ <strong>WooCommerce :</strong> personnalisation de la boutique, du tunnel de commande et des fiches produit</li>
                        <li>🎨 <strong>Thème sur-mesure :</strong> intégration fidèle aux maquettes avec animations douces et effets visuels haut de gamme</li>
                        <li>📚 <strong>Gestion de contenu :</strong> ACF pour les blocs éditoriaux, gestion des produits, des collections et des visuels</li>
                        <li>🎞️ <strong>Animations :</strong> transitions fluides et animations GSAP pour renforcer l’image de marque</li>
                        <li>📦 <strong>Optimisation :</strong> amélioration des performances (lazy loading, compression, requêtes optimisées)</li>
                    </ul>
                </div>
               

                <div class="role">
                    <h3 class="titre-content">Mon rôle</h3>
                    <ul>
                        <li><strong>Intégrateur WordPress & WooCommerce :</strong> développement du thème sur-mesure</li>
                        <li>Création de templates Twig avec Timber pour maintenir une structure claire</li>
                        <li>Customisation avancée de WooCommerce (templates, checkout, filtres, UX)</li>
                        <li>Animations JavaScript avec GSAP pour renforcer l’aspect premium</li>
                        <li>Optimisations techniques : SEO, responsive, performance et accessibilité</li>
                    </ul>
                </div>
            </article>
        </div>
    </section>
</Layout>