---
import Layout from '../../layouts/BaseLayout.astro';
---

<Layout>
    <section class="base">
        <div class="container">
            <h1>Normandie Challenge</h1>
        </div>
    </section>
</Layout>