---
import Layout from '../../layouts/BaseLayout.astro';
---

<Layout>
    <section class="base">
        <div class="container">
            <article>
                <h1>🏡 Villa Victoria</h1>

                <div class="year">
                    <p class="titre-content">Année :</p>
                    <p>2024</p> 
                </div>
                

                <div class="stack">
                     <p class="titre-content">Tech & Stack</p>
                    <p>Shopify, Liquid, HTML, SCSS, JavaScript, Shopify CLI, Sections & JSON Templates</p>
                </div>
               

                <div class="description">
                    <h3 class="titre-content">Description</h3>
                    <p>Création et personnalisation du site e-commerce <strong>Villa Victoria</strong>, une boutique de décoration située à Ouistreham. Le site vise à refléter l’univers chaleureux et raffiné de la marque tout en permettant une navigation fluide et une gestion simplifiée des produits via Shopify.</p>
                </div>
              

                <div class="interventions">
                    <h3 class="titre-content">Mes interventions</h3>
                    <ul>
                        <li>🧱 <strong>Thème personnalisé :</strong> modification d’un thème existant avec création de sections Liquid sur mesure</li>
                        <li>🛍️ <strong>Catalogue produit :</strong> structuration claire, navigation par collections, fiches produits optimisées</li>
                        <li>🎨 <strong>Identité visuelle :</strong> intégration fidèle aux maquettes et à l’univers boutique (typographies, couleurs, ambiance)</li>
                        <li>📦 <strong>Expérience d’achat :</strong> parcours fluide, responsive, ajout au panier rapide</li>
                        <li>📈 <strong>Performance & SEO :</strong> allègement des assets, balises structurées, responsive optimisé</li>
                    </ul>
                </div>
               
                <div class="role">
                    <h3 class="titre-content">Mon rôle</h3>
                    <ul>
                        <li><strong>Développeur front Shopify :</strong> adaptation et extension du thème via Liquid et Shopify CLI</li>
                        <li>Création de sections personnalisées et templates dynamiques</li>
                        <li>Refonte graphique pour coller à l’image de la boutique physique</li>
                        <li>Optimisation des pages produits, collections et du header/menu</li>
                        <li>Test responsive et debug sur différents navigateurs & devices</li>
                    </ul>
                </div>
                
            </article>

        </div>
    </section>
</Layout>